<mat-toolbar>
  <mat-toolbar-row>
    <div fxFlex></div>
    <div fxFlex="95">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <app-navbar-title></app-navbar-title>
        </div>

        <div fxLayout="row">
          <app-navbar-cart fxLayoutAlign="center center"></app-navbar-cart>
          <app-navbar-profile
            fxLayoutAlign="center center"
            style="margin-left: 40px"
          ></app-navbar-profile>
        </div>
      </div>
    </div>
    <div fxFlex></div>
  </mat-toolbar-row>
</mat-toolbar>
