<div style="margin-top: 50px">
  <div fxFlex=></div>
  <div fxFlex="95">
    <div fxFlex="23">
      <mat-card *ngFor="let item of items" class="example-card">
        <img
          mat-card-image
          src="{{ item.image }}"
          alt=""
        />
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
          <p>
            {{item.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>Añadir al carrito</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxFlex></div>
</div>
