html, body {
    height: 100%;
}

body {
    margin: 0;
    
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px !important;
}

.bg-l-r {
    background: #e8f0fe;
}

.c-form {
    width: 100%;
}

.c-form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.c-form-input mat-form-field {
    width: 100%;
}

.form-button {
    width: 100% !important;
    padding: 22px !important
}

.titulo-app {
    color: #476282;
    font-size: 1.7rem;
    margin-bottom: 50px;
}

.c-link {
    color: #476282;
    text-decoration: none;
}

.c-link:hover {
    text-decoration: underline;
    cursor: pointer;
}